* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;

    height: 100vh;
    width: 430px;
    background-color: rgba(0,0,0,.88);
    margin: auto;

    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

.container > *:not(:first-child) {
    margin-top: 10px;
}

.container :last-child {
    margin-bottom: 10px;
}

.container > * {
    flex-shrink: 0;
}

a {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    text-decoration: none;
    width: 100%;
    height: 300px;
 }

.contentMobile {
    height: 300px;
    width: 400px;
    border-radius: 16px;
    margin: auto;
}

